@use './constants';

.api table,
.markdown > table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 32px;
  width: 100%;
}


// Styles specific only to the table inside markdown.
.markdown > table {
  font-size: 14px;

  // Code tends to wrap inside tables which doesn't look great with the background color.
  code {
    background: transparent;
  }
}


.api th,
.markdown > table th {
  font-weight: 400;
  max-width: 100px;
  padding: 14px 16px;
  text-align: left;
}

.api td,
.markdown > table td {
  font-weight: 400;
  padding: 8px 16px;

  @media (max-width: constants.$extra-small-breakpoint-width) {
    &.api-properties-name-cell,
    &.api-method-parameter-cell,
    &.api-method-returns-type-cell,
    &.api-method-description-cell {
      min-width: 80px;
      word-break: break-word;
    }
  }
}


@media (max-width: constants.$small-breakpoint-width) {
  .api table,
  .markdown > table {
    margin: 0 0 32px 0;
  }

  .api th,
  .markdown > table th {
    padding: 6px 16px;
  }

  .api td,
  .markdown > table td {
    padding: 4px 8px;
  }
}
