<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
<nav class="navbar-header" aria-label="Top Toolbar">
  <a
    mat-button
    class="button"
    routerLink="/"
    aria-label="NextGrade"
    matTooltip="{{ 'app.top-nav.tooltip.home' | translate }}"
  >
    <img
      class="logo"
      matButtonIcon
      src="../../../assets/img/homepage/nextgen-white-transparent.png"
      alt="angular"
      aria-hidden="true"
    />
    <!-- <span translate>app.top-nav.menu.name.home</span> -->
  </a>
  <a
    mat-button
    class="navbar-hide-smallbutton"
    *ngFor="let key of sectionKeys"
    [routerLink]="key"
    routerLinkActive="navbar-header-item-selected"
    >{{'app.top-nav.menu.name.' + sections[key].name | translate}}</a
  >
  <div class="flex-spacer"></div>
  <lang-picker></lang-picker>
  <theme-picker></theme-picker>
  <notification></notification>
  <button
    mat-icon-button
    matTooltip="{{ 'app.top-nav.tooltip.acc-settings' | translate }}"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <!-- <a
    mat-button
    class="buttonnavbar-hide-small"
    href="https://github.com/angular/components"
    aria-label="GitHub Repository"
  >
    <img
      class="logo"
      matButtonIcon
      src="../../../assets/img/homepage/github-circle-white-transparent.svg"
      alt="angular"
      aria-hidden="true"
    />
    GitHub
  </a>
  <a
    mat-icon-button
    class="buttonnavbar-show-small"
    href="https://github.com/angular/components"
    aria-label="GitHub Repository"
  >
    <img
      class="logonavbar--github-logo"
      matButtonIcon
      src="../../../assets/img/homepage/github-circle-white-transparent.svg"
      alt="angular"
      aria-hidden="true"
    />
  </a> use for full button to icon button change-->
</nav>
<nav class="navbar-show-small" aria-label="Section Nav Bar">
  <a
    mat-button
    class="navbar-link"
    *ngFor="let key of sectionKeys"
    [routerLink]="key"
    >{{'app.top-nav.menu.name.' + sections[key].name | translate}}</a
  >
  <a mat-button class="navbar-link" routerLink="guides">Guides</a>
</nav>
