<div class="viewer-nav">
  <div class="viewer-nav-content">
    <div *ngFor="let navItem of navItems; let last = last;">
      <mat-nav-list
        *ngIf="!navItem.items"
        id="panel-{{navItem.id}}"
        [attr.aria-label]="navItem.id"
        class="nav-list"
      >
        <a
          mat-list-item
          [routerLink]="'/' + navMgr.Section+ '/' + navItem.id"
          routerLinkActive="sidenav-item-selected"
          [attr.aria-current]="currentItemId === navItem.id ? 'page': 'false'"
          class="nav-list-item"
        >
          {{ 'app.side-nav.name.' +navItem.id | translate}}
        </a>
      </mat-nav-list>
      <div *ngIf="!!navItem.items">
        <button
          cdkAccordionItem
          #panel="cdkAccordionItem"
          (click)="panel.toggle()"
          expanded="true"
          class="nav-content-btn"
          [attr.aria-controls]="'panel-' + navItem.id"
          [attr.aria-expanded]="panel.expanded"
        >
          {{ 'app.side-nav.name.' +navItem.id | translate}}
          <mat-icon
            >{{panel.expanded ? 'keyboard_arrow_up' :
            'keyboard_arrow_down'}}</mat-icon
          >
        </button>
        <mat-nav-list
          [@bodyExpansion]="panel.expanded ? 'expanded' : 'collapsed'"
          id="panel-{{navItem.id}}"
          [attr.aria-label]="navItem.id"
          class="nav-list"
        >
          <a
            mat-list-item
            *ngFor="let subItems of navItem.items"
            [routerLink]="'/' + navMgr.Section+ '/' + subItems.id"
            routerLinkActive="sidenav-item-selected"
            [attr.aria-current]="currentItemId === subItems.id ? 'page': 'false'"
            class="nav-list-item"
          >
            {{ 'app.side-nav.name.' +subItems.id | translate}}
          </a>
        </mat-nav-list>
      </div>
      <hr *ngIf="!last" />
    </div>
  </div>
</div>
