<mat-sidenav-container class="sidenav-container">
  <!-- If on small screen, menu resides in drawer -->
  <mat-sidenav
    #sidenav
    class="sidenav"
    *ngIf="(isScreenSmall | async)"
    [opened]="(isScreenSmall | async) === false"
    [mode]="(isScreenSmall | async) ? 'over' : 'side'"
    [fixedInViewport]="(isScreenSmall | async)"
    [fixedTopGap]="(isExtraScreenSmall | async) ? 92 : 56"
  >
    <nav-panel></nav-panel>
  </mat-sidenav>
  <div class="sidenav-content">
    <page-header (toggleSidenav)="toggleSidenav(sidenav)"></page-header>
    <div class="sidenav-inner-content">
      <main class="sidenav-body-content">
        <!-- If on large screen, menu resides to left of content -->
        <nav-panel *ngIf="(isScreenSmall | async) === false"> </nav-panel>
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </div>
  </div>
</mat-sidenav-container>
