@use "../../../styles/constants";

app-sidenav {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.sidenav-container {
  flex: 1;
  box-sizing: border-box;
}

.sidenav {
  overflow: auto;
}

.sidenav-inner-content {
  display: flex;
  flex-direction: row;
}

.mat-drawer {
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
}

nav-panel {
  .viewer-nav {
    position: sticky;
    top: 25px;

    .viewer-nav-content {
      margin: 25px;
      width: constants.$sidenav-width;
      max-height: 75vh;
      overflow: auto;

      &::-webkit-scrollbar {
        height: 4px;
        width: 4px;
      }

      button {
        padding: 10px 15px;
        font-weight: 700;
        line-height: 16px;
        margin: 0;
        font-size: 13px;
        cursor: pointer;
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
        background: none;
        border: none;

        &:focus {
          outline: none;
        }

        .mat-icon {
          position: absolute;
          right: 5px;
          font-size: 18px;
        }
      }
      .nav-list {
        padding-bottom: 0px !important;
        .nav-list-item {
          height: 40px;
          line-height: 40px;
        }
      }

      hr {
        padding: 0;
        margin: 0;
      }

      ul {
        list-style-type: none;
        margin: 0 0 5px 0;
        padding: 0;
        overflow: hidden;
      }

      li {
        font-size: 13px;
        line-height: 16px;
        margin: 0;
        padding: 5px 15px 5px 20px;
      }

      a {
        display: block;
        text-decoration: none;
      }
    }
  }
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.sidenav-inner-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidenav-body-content {
  display: flex;
  flex: 1 1 auto;
}

div .mat-mdc-list-base {
  padding-top: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
div.viewer-nav-content .mat-nav-list .mat-mdc-list-item .mat-list-item-content {
  padding-left: 25px;
}

@media (max-width: constants.$small-breakpoint-width) {
  // Add specific rule to prevent default rule conflict
  .sidenav-container .sidenav {
    // position right above the content
    z-index: 4;
  }

  nav-panel {
    .viewer-nav {
      position: relative;
      top: 0;

      .viewer-nav-content {
        box-sizing: border-box;
        margin: 0;
        max-height: initial;
      }
    }
  }
}

@media (max-width: 720px) {
  .sidenav-container {
    flex: 1 0 auto;
  }

  .sidenav-body-content {
    flex-direction: column;
  }
}
